Body {margin: 200px;
}
a Head{ font-size: 40px;
margin: 20px;
color: red;
font-style: strong;}

nav{text-align: right;
line-height:2;
font-size: 12px;
padding: 10px;
}
a nav{margin: 50px;}

label{font-size:15px;
display: block;
padding: 5px;}



// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
